<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <SmashingMagazine_Layout>
            <version>0.0.1</version>
        </SmashingMagazine_Layout>
    </modules>

    <global>
        <!-- We are adding a new block definition -->
        <blocks>
            <!-- A unique short name for our block files -->
            <smashingmagazine_layout>
                <!-- The location of our module's blocks -->
                <class>SmashingMagazine_Layout_Block</class>
            </smashingmagazine_layout>
        </blocks>
    </global>


    <!--We are making changes to the frontend -->
    <frontend>
        <!-- We are making changes to the layout -->
        <layout>
            <!-- We are adding a new update file -->
            <updates>
                <!-- This child node name must be unique throught Magento -->
                <smashingmagazine_layout module="SmashingMagazine_Layout">
                    <!-- The name of the layout file we are adding -->
                    <file>smashingmagazine_layout.xml</file>
                </smashingmagazine_layout>
            </updates>
        </layout>
    </frontend>
</config>