.idea/
.node-version
.php-version

# Package / Dependency / Build Artifacts
/vendor
/node_modules

# Media
/media

# Test/Build Artifacts
/build

# Mage.php
/app/Mage.php

# Magento app/etc - ignore all except Magento base project files
/app/etc/*.xml
!/app/etc/config.xml
!/app/etc/enterprise.xml
!/app/etc/local.xml.additional
!/app/etc/local.xml.template

# Convenient setup scripts
/app/etc/modules/Convenient_SetupScriptsDisabler.xml

# Ampersand system module
/app/etc/modules/Ampersand_System.xml

# Magento app/code/core
/app/code/core/

# Magento app/code/community
/app/code/community/

# Magento Design adminhtml
/app/design/adminhtml/

# Magento Design frontend
/app/design/frontend/*
!/app/design/frontend/enterprise/
/app/design/frontend/enterprise/*
!/app/design/frontend/enterprise/ampersand/

# Magento Design Install theme
/app/design/install

# Magento Locale
/app/locale/

# Magento Skin
/skin/*
!/skin/frontend/
/skin/frontend/*
!/skin/frontend/enterprise/
/skin/frontend/enterprise/*
!/skin/frontend/enterprise/ampersand/

# Assets - JS
/js/

# lib
/lib/

# Magento Root Files/Folders
/shell/

# Magento var/
/var/
