<?xml version="1.0" ?>
<config>
    <modules>
        <Ampersand_Testing>
            <version>0.0.1</version>
        </Ampersand_Testing>
    </modules>
    <global>
        <models>
            <ampersand_testing>
                <class>Ampersand_Testing_Model</class>
            </ampersand_testing>
        </models>
    </global>
</config>